* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 #form{
    height:500px;
    width:300px;
    margin: auto;
 }
 .divdata{
    width: 100%;
    height: 8%;
    background-color:rgb(66,103,178);
    margin-top: 5px;
    cursor: pointer;
 }
 .but2{
    background-color: white;
    cursor: pointer;
 }
 form>input{
    width: 100%;
    height: 8%;
    margin-top: 5px;
 }
 #submit{
    background-color:rgb(25,108,255) ;
    cursor: pointer;
 }
 .stextdiv{
    width: 95%;
    border: 0px solid green;
    margin: auto;
    display: flex;
 }
 .belowtext{
    font-size:12px;
    margin: auto;
    display:block;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
 }
 .last{
    margin-top: 5px;
    margin-bottom: 5px;
 }
 #loginbut{
   margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .choice{
    color:rgb(25,108,255);
    cursor: pointer;
 }
 #topSect{
    border: 0px solid red;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #topSect > div > img {
      margin-top: 45px;
    }
#topSect>div+div{
    border: 0px solid green;
    font-size: 20px;
    width: 90%;
    height: 20%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}
#topSect > div > img {
    cursor: pointer;
}
#topSect>div:first-child{
    width: 80%;
   height: 30px;
    margin: auto;
    margin-bottom: 15px;
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topSect>div:first-child>img{
     width: 50%;
     
}
 
  
 